**/rbin/
**/raw/
**/externals/
*RData
*pdf
**/audit
**/output
**/temp
**/zip
*csv
*xlsx
*smcl
*~*
*log
**/html*
**scratch
**html
*.Rhistory
**/exports
**zip
keys.txt
**.ipynb_checkpoints
**__pycache__
**/.snakemake*
packrat/lib*/
*.log
slides/*.gz
slides/*.snm
slides/*.toc
slides/*.nav
slides/*.out
slides/*.aux
.DS_Store
_DS_Store